*{
    margin: 0;
}

header{
    height: 128px;
    border: 7px dashed red;
    padding: 16px;


    background-color: rgb(40, 150, 200);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvDtbSM5tNbRyzJqtqGPrqLjiPOZUhsibKeQ&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
}